/* Lớp nền phủ nhẹ xung quanh modal */
.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3); /* Nền bán trong suốt */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Đảm bảo modal nằm trên các nội dung khác */
}

/* Khung modal nằm ở giữa */
.modalContainer {
    width: 400px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: relative;
    z-index: 1001; /* Đảm bảo modal hiển thị phía trên lớp phủ */
}

/* Nút đóng modal ở góc trên */
.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.modalContainer .title {
    text-align: left;
    font-family: 'Verdana', 'sans-serif';
    margin-top: 5px;
    margin-left: 10px;
}

.modalContainer .body {
    text-align: left;
    font-size: 1.5rem;
    margin: 10px;
    font-family: 'Verdana', 'sans-serif';
}

.modalContainer .footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

#cancelBtn {
    background-color: lightgrey;
}
